// Variables

$bg-body: #f4f4f4;
$bgColor: $bg-body;

$red: #ee4d4d;
$blue: #000A3C;
$primary-color: $blue;
$secondary-color: $blue;
$base-font-color: #726f77;

// Timeline
$timeline-color: $primary-color;
$timeline-color2: #17c728;


// Mixins and Placeholders
%clearfix {

	&:after,
	&:before {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}

@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '' {
		#{$prefix}#{$prop}: $val;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

// Timeline

#timeline {
	width: 100%;
	margin: 30px auto;
	position: relative;
	padding: 0 10px;
	@include prefix(transition, all .4s ease);

	&:before {
		content: "";
		width: 3px;
		height: 100%;
		background: $timeline-color;
		left: 2%;
		top: 0;
		position: absolute;
	}

	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}

	.timeline-item {
		margin-bottom: 50px;
		position: relative;
		@extend %clearfix;

		.timeline-icon {
			background: $timeline-color;
			width: 50px;
			height: 50px;
			position: absolute;
			top: 0;
			left: 0%;
			overflow: hidden;
			margin-left: -23px;
			@include prefix(border-radius, 50%);

			svg {
				position: relative;
				top: 14px;
				left: 14px;
			}
		}

		.timeline-content {
			width: 90%;
			background: #fff;
			padding: 20px;
			@include prefix(box-shadow, 0 3px 0 rgba(0, 0, 0, 0.1));
			@include prefix(border-radius, 5px);
			@include prefix(transition, all .3s ease);

			h3 {
				padding: 8px;
				background: $timeline-color;
				color: #fff;
				margin: -20px -20px 0 -20px;
				font-weight: 300;
				@include prefix(border-radius, 3px 3px 0 0);
			}

			&.right {
				float: right;
			}
		}
	}
}

// Buttons
.btn {
	padding: 5px 15px;
	text-decoration: none;
	background: transparent;
	border: 2px solid lighten($primary-color, 10%);
	color: lighten($primary-color, 10%);
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-size: 12px;
	@include prefix(border-radius, 5px);
	@include prefix(transition, background .3s ease);
	@include prefix(box-shadow, 2px 2px 0 lighten($primary-color, 10%));

	&:hover {
		box-shadow: none;
		top: 2px;
		left: 2px;
		@include prefix(box-shadow, 2px 2px 0 transparent);
	}
}

@media screen and (max-width: 768px) {
	#timeline {
		margin: 30px;
		padding: 0px;
		width: 90%;

		&:before {
			left: 0;
		}

		.timeline-item {
			.timeline-content {
				width: 90%;
				float: right;

				&:before,
				&.right:before {
					left: 10%;
					margin-left: -6px;
					border-left: 0;
					border-right: 7px solid $timeline-color;
				}
			}

			.timeline-icon {
				left: 0;
			}
		}
	}
}

// New timeline code

#timeline2 {
	border-left: 3px solid $primary-color;
	padding: 0 30px;
	margin-left: 185px;

	@media (max-width: 767px) {
		margin-left: 0;
		padding-right: 0;
	}

	.item {
		position: relative;
		margin-bottom: 40px;

		// Insert your SVG as a background image for the .icon element
		icon {
			position: absolute;
			background-size: contain; // Ensures the SVG fits nicely within the div
		}

		&::before {
			content: '';
			position: absolute;
			top: 0px; // Adjust as needed to position the icon vertically
			left: -10%; // Centers the icon on the vertical line
			transform: translateX(-50%); // This ensures the icon is centered regardless of its size
			width: 30px; // Set the width of the icon
			height: 30px; // Set the height of the icon
			background: url('/icons/calendar.svg') no-repeat center center;
			background-size: contain;
			z-index: 2; // Make sure this layer is above the vertical line
		}

		&::after {
			content: '';
			position: absolute;
			top: -3px; // Align with the top of the icon
			left: -10%; // Center horizontally with the border line
			transform: translateX(-50%); // Center horizontally
			width: 40px; // Match the width of the border line
			height: 40px; // Match the height of the icon
			background: $bg-body; // Color of your background to cover the line
			z-index: 1; // Layered below the icon, above the line
		}
	}

	.tournament {
		color: $primary-color;
		// border-bottom: 3px solid $primary-color;
	}

	.info {
		position: absolute;
		// border-bottom: 3px solid $primary-color;
		left: -185px;
		top: 0;
		font-size: 1rem;

		.title {
			color: $primary-color;
		}

		@media (max-width: 768px) {
			position: static;
			margin-bottom: 1rem;
		}
	}

	.description {
		font-size: 0.94rem;
	}
}

// Hyperlinks

// Hyperlink styling excluding the header
body:not(header) a {
	color: $primary-color;
	text-decoration: underline;

	&:hover {
		text-decoration-color: #00a9f1;
	}
}